#timeline{
    height: 100%;
    width: 100%;
    display: flex;
    background: purple;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

.row {
    height: 100%;
    width: 100%;
    display: flex;
    background: orange;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

.column {
    height:100%;
    width: 100%;
    display: flex;
    border: 5px;
    border-color: black;
    background: green;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

.entry {
    height:10px;
    width: 10px;
    border-radius: 50%;
    display: flex;
    background: pink;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.arrow {

}

#left {

}

#right{

}

.categoryTag {

}

.pubType {

}
