
/* general */
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    padding-top: 70px;
    background-color: rgba(246, 246, 246, 1);
}

ul {
    list-style-type: none;
    padding: 0;
}


/* fonts */

p {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0;
    color: rgba(255, 255, 255, 1);
}


/* .content-text p {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 1.2vw;
    padding: 0;
    color: rgba(255, 255, 255, 1);
}*/


h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 5em;
    color: rgba(255, 255, 255, 1);
    line-height: .9em;
    padding: 0;
    margin: 0;
    font-size: 6vw;
}

.header h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 5em;
    color: rgba(255, 255, 255, 1);
    line-height: .9em;
    padding: 0;
    margin: 0;
    font-size: 72;
}

.right-header h2, .left-header h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 5vw;
    color: rgba(255, 255, 255, 1);
    padding: 0;
    margin: 0;
    display: table;
    padding: 1rem 2rem;
    background-color: #3438D8;
    position: relative;
    z-index: 2;

}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4vw;
    color: rgba(255, 255, 255, 1);
    padding: 0;
    margin: 0 0 .5em 0;
}


/* navbar */
#menu {
    margin: 0 auto;
	position: fixed;
	top: 0px;
    display: inline;
}

.collapse.navbar-collapse {
    margin: 0;
    padding:0;
    width: inherit;
}

.navbar {
    min-height: 50px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Karla', sans-serif;
    font-size: 1.8rem;
}
.navbar ul {
    padding: 0;
    margin: 0;
    position: absolute;
}

.navbar li {
    display: inline;
    padding: 0;
    margin:0;
    font-size: 0.8em;
}

.navbar li a {
    padding: 0 20px;
}

ul.nav.navbar-nav {
    padding: 0;
    margin:0;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 0;
}

/* image global */

.image-container {
    padding: 0;
    z-index: 1;
}

.image-top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 65%;
    height: 55%;
    float: left;
    position: relative;
    z-index: 1;
}

.image-top-left img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
}

.image-top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 65%;
    height: 55%;
    float: right;
    position: relative;
    z-index: 1;
    margin-left: -25%;
}

.image-top-right img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}


/* content containers */

.box {
    width: 100%;
    height: 100%;
    margin: 0 0 10rem 0;
    display: block;
}

.content-area {
    margin: 0 8%;
    display: flex;
    width: 84%;
    height: 70rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
}

.text-container.bottom-right {
    width: 65%;
    height: 55%;
    position: relative;
    z-index: 100;
    vertical-align: middle;
    display: inline-block;
    float: right;
    margin-top: 20%;
    margin-left: -25%;
}

.text-container.bottom-left {
    width: 65%;
    height: 55%;
    position: relative;
    z-index: 100;
    vertical-align: middle;
    display: inline-block;
    float: right;
    margin-top: 20%;
    margin-left: 0;
}

.left-header {
    width: auto;
    height: auto;
    position: absolute;
}

.right-header {
    width: auto;
    height: auto;
    position: absolute;
    right:8%;
}

.content-text {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 6rem;
    background-color: #3438D8;
}

.content-text p {
    padding: 0;
    margin: 0;
}

/* front */
.image-front {
    display: inline;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: auto;
    float: right;
    width: 52vw;
    text-align: right;
    margin-left: -48vw;
    margin-top: -75vh;
}

.image-front img {
    display: flex;
    height: 100%;
    width: 100%;
}

#front-box{
    width: 100%;
    height: 100%;
    margin: 2rem 0 16rem 0;
    display: block;
    top: -100vh;
}

#front {
    margin: 0 8%;
    display: flex;
    width: 84%;
    height: 80vh;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0;
    background:
    rgba(52, 56, 216, 0.8)
    url('/Users/weihann1/Documents/Brinkbit/wos/pgeh-site/assets/frontimg.png') no-repeat center;
    background-size: cover;
}

#front-text-container {
    display: flex;
    width: 100%;
    margin: 4em;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}

#front-header{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    z-index: 2;
}

#front-content-text {
    width: 80%;
    padding: 0;
    margin-left: -5rem;
    align-self: center;
    z-index: 2;
}

/* subpage */
.header {
    width: auto;
    height: auto;
    padding: 40vh 0 0 8vw;
    position: relative;
    z-index: 2;
}

.sub-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.sub-text {
    width: 60%;
    height: auto;
    margin: 14vh 10rem 5vh 5rem;
    float: right;
}

.sub-left {
    width: 30%;
    height: auto;
    margin: 14vh 10rem 5vh 5rem;
    float: left;
}

.sub-content p {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0;
    color: #000;
}

#hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0;
    z-index: 1;
}

#hero-image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/* parallax */
[data-aos="hide1"] {
  opacity: 1;
  transform: translateY(0px);
  transition-property: opacity, transform;
}
[data-aos="hide1"].aos-animate {
  opacity: 0;
  transform: translateY(-120px);
}


.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav li {
  float: none;
  display: inline-block;
}
