p {
  color: cornflowerblue;
}


col-md-1 {
  background-color: green;
}

.bg-container {
  background-color: blue;
}

.focus-color-1 {
  background-color: orange;
}

.sideline-color-1 {
  background-color: green;
}
